<?xml version="1.0" encoding="UTF-8"?>

<ruleset
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>

    <description>The coding standard applying to all Youdot PHP projects</description>

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>

    <!-- Ignore warnings, show progress of the run and show sniff names -->
    <arg value="nps"/>

    <!-- Include full Youdot Coding Standard -->
    <rule ref="Youdot"/>
    <!-- Or include full Youdot Coding Standard for Symfony-->
    <rule ref="YoudotSymfony"/>

    <!-- Directories to be checked -->
    <file>src</file>

</ruleset>
